<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'bio_data.css')}}">
</head>
<body>

<h2>Personal Information</h2>
<table>
  <tr>
    <td>p_id</td>
    <td>{{data.p_id}}</td>
  </tr>
  <tr>
    <td>First_name</td>
    <td>{{data.first_name}}</td>
  </tr>
  <tr>
    <td>Last_name</td>
    <td>{{data.last_name}}</td>
  </tr>
  <tr>
    <td>DOB</td>
    <td>{{data.DOB}}</td>
  </tr>
  <tr>
    <td>Occupation</td>
    <td>{{data.occupation}}</td>
  </tr>
  <tr>
    <td>Id_proof</td>
    <td>{{data.id_proof}}</td>
  </tr>
    <tr>
    <td>Id_proof_no</td>
    <td>{{data.id_proof_no}}</td>
  </tr>
    <tr>
    <td>H_No</td>
    <td>{{data.h_no}}</td>
  </tr>
    <tr>
    <td>Village</td>
    <td>{{data.village}}</td>
  </tr>
    <tr>
    <td>Landmark</td>
    <td>{{data.landmark}}</td>
  </tr>
    <tr>
    <td>street</td>
    <td>{{data.street}}</td>
  </tr>
    <tr>
    <td>District</td>
    <td>{{data.district}}</td>
  </tr>
    <tr>
    <td>Pincode</td>
    <td>{{data.pincode}}</td>
  </tr>
    <tr>
    <td>Mobile_No</td>
    <td>{{data.mobileno}}</td>
  </tr>
</table>
</body>
</html>
